streamlit
fastapi
uvicorn
langchain-core
langchain-google-genai
langchain-anthropic
python-dotenv
beautifulsoup4
lxml
ollama
elevenlabs
aiolimiter
langgraph
mcp
langchain-mcp-adapters
gtts
requests
pydantic
tenacity